
<%= form_tag("/born-within-years-of", remote: true) do %>

  <%= label_tag :character %>
  <%= text_field_tag :character %>

  <%= label_tag :years %>
  <%= text_field_tag :years %>

  <%= submit_tag "Search" %>

<% end %>

<div class="characters">
</div>

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
