<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThronesApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Home", root_path %> |
    <%= link_to "Born Within Years Of", born_within_years_of_path %>
    <%= yield %>
  </body>
</html>
